@use "../../../../../helpers/mixins" as m;
@use "../../../../../helpers/variables" as v;
@use "../../../../../helpers/animation";
@use "../../../ai-builder-support" as support;

$fs-preface: 10px;
$fs-text: 4px;
$fs-brand: 22px;

@mixin preface(
  $fs: $fs-preface,
  $white-theme: false,
  $w: 100%,
  $align-center: false
) {
  font-size: $fs;
  line-height: 100%;
  pointer-events: none;
  font-weight: 500;
  letter-spacing: -0.4px;
  width: $w;

  @if $align-center {
    text-align: center;
  }

  @if $white-theme {
    color: #fff;
  }
}

@mixin desc(
  $fs: $fs-text,
  $align-center: false,
  $w: 100%,
  $white-theme: false,
  $position: false
) {
  font-size: $fs;
  pointer-events: none;
  width: $w;

  @if $position {
    position: absolute;
  }

  @if $white-theme {
    color: #fff;
  }

  @if $align-center {
    text-align: center;
  }
}

@mixin brand(
  $fs: $fs-brand,
  $fs-marquee: $fs,
  $marquee: false,
  $white-theme: false,
  $distance: 0.4rem
) {
  font-weight: 600;
  pointer-events: none;
  @include m.flex();
  gap: $distance;

  @if $white-theme {
    color: #fff;
  }

  @if $marquee {
    padding-left: $distance;
    width: max-content;
    animation: marquee-text 20s linear infinite forwards;
    font-size: $fs-marquee;
  } @else {
    font-size: $fs;
  }
}

@mixin button(
  $bordered: false,
  $fs: $fs-text,
  $m-top: 0.3rem,
  $p: 0.18rem 0.45rem,
  $color: #000,
  $color-border: #000
) {
  padding: $p;
  border-radius: 50vw;
  width: fit-content;
  line-height: 100%;
  font-size: $fs;
  cursor: pointer;
  margin-top: $m-top;
  @include m.flex();
  color: $color;
  border: 1px solid transparent;

  @if $bordered {
    box-shadow: 0 0 0 0.3px $color-border;
  }
}

@mixin image($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin style-1() {
  @include m.flex($direction: column, $justify: flex-start);
}

@mixin style-2($gap: 0.3rem) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap;
}

@mixin style-3() {
  @include m.flex($direction: column);
}

@mixin style-4() {
  @include m.flex($direction: column, $align: flex-start, $justify: flex-start);
}

@mixin expalot-intro {
  &-styles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "wrapper wrapper";
    gap: 0.8rem 0.7rem;
    align-items: flex-start;

    .title {
      grid-area: title;
      @include support.title-expalot();
    }

    .wrapper-left {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      overflow: hidden;
      height: 100%;
      gap: 0.7rem;

      .style-1 {
        @include support.layout-styles();
        @include style-1();
        gap: 0.15rem;
        padding: 0.4rem 0.45rem;
        background-color: #eaeaea;

        .template-brand {
          @include brand();
        }

        .template-desc {
          @include desc($position: true, $white-theme: true, $w: 35%);
          bottom: 10%;
          left: 5.5%;
        }

        .template-image {
          @include image($height: 4.5rem);
        }
      }

      .style-3 {
        @include support.layout-styles();
        @include style-3();
        gap: 0.2rem;

        .template-preface {
          @include preface($white-theme: true, $align-center: true);
        }

        .template-desc {
          @include desc($align-center: true, $w: 65%, $white-theme: true);
        }

        .template-button {
          @include button($m-top: 0.5rem);
        }
      }
    }

    .wrapper-right {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      height: 100%;
      gap: 0.7rem;
      overflow: hidden;

      .style-2 {
        @include support.layout-styles();
        @include style-2();
        background-color: #eaeaea;

        .template-wrapper {
          @include m.flex($direction: column, $align: flex-start);
          padding: 0 0.3rem;
          gap: 0.25rem;

          .template-preface {
            @include preface($w: 60%);
          }

          .template-desc {
            @include desc($w: 100%);
          }

          .template-button {
            @include button($color: #fff);
          }
        }

        .template-image {
          @include image($height: 6.5rem);
        }
      }

      .style-4 {
        @include support.layout-styles();
        @include style-4();
        max-width: 100%;
        gap: 0.2rem;
        padding: 0.25rem 0.4rem 0.25rem 0;

        .template-desc {
          @include desc($white-theme: true, $w: 35%);
          margin-left: 0.4rem;
        }

        .template-button {
          @include button(
            $bordered: true,
            $color: #fff,
            $color-border: #fff,
            $m-top: 0.2rem
          );
          margin-left: 0.4rem;
        }

        .template-wrapper {
          margin-top: auto;
          overflow: clip;

          .template-brand {
            @include brand($white-theme: true, $marquee: true);
          }
        }
      }
    }
  }
}
