@use "../../../../../helpers/mixins" as m;
@use "../../../../../helpers/variables" as v;
@use "../../../../../helpers/animation";
@use "../../../ai-builder-support" as support;
@use "../../ExpalotComponents/expalot-title" as title;
@use "../../ExpalotComponents/expalot-desc" as desc;
@use "../../ExpalotComponents/expalot-button" as button;

$fs-text: 4px;
$fs-title-marquee: 22px;
$py-layout: 0.45rem;

@mixin container-product(
  $size-image: 2.6rem,
  $h-default: true,
  $h-custom: $size-image * 1.5,
  $fs: $fs-text,
  $fs-price: 3px,
  $direction: column,
  $justify: flex-start,
  $align: flex-start,
  $gap: 2px,
  $isCircle: false,
  $m-name: 0.2rem 0 0,
  $object-position: center,
  $b-weight: 0.2px,
  $b-clr: #000,
  $b-pb: 0.1px,
  $fw-name: 400,
  $events: none
) {
  @include m.flex($direction: $direction, $justify: $justify, $align: $align);
  gap: $gap;
  pointer-events: $events;

  .template-image {
    object-fit: cover;
    object-position: $object-position;

    @if $isCircle {
      @include m.circle($size: $size-image);
    } @else {
      width: $size-image;

      @if $h-default {
        height: $size-image * 1.5;
      } @else {
        height: $h-custom;
      }
    }
  }

  .template-name {
    margin: $m-name;
    font-size: $fs;
    padding-bottom: $b-pb;
    box-shadow: 0 $b-weight 0 $b-clr;
    font-weight: $fw-name;
    background-color: transparent;
  }

  .template-price {
    font-size: $fs-price;
  }
}

@mixin style-1($gap: 0.45rem) {
  @include m.flex($direction: column);
  gap: $gap;
}

@mixin style-2($gap: 0.45rem, $justify: center) {
  @include m.flex($justify: $justify);
  gap: $gap;
}

@mixin style-3($gap: 0.45rem) {
  @include m.flex();
  gap: $gap;
}

@mixin style-4($gap: 0.5rem) {
  @include m.flex($direction: column);
  gap: $gap;
}

@mixin expalot-products {
  &-styles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "wrapper wrapper";
    gap: 0.8rem 0.7rem;

    .title {
      grid-area: title;
      @include support.title-expalot();
    }

    .wrapper-left {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      overflow: hidden;
      height: 100%;
      gap: 0.7rem;

      .style-1 {
        @include support.layout-styles();
        @include style-1();
        padding: $py-layout 0.25rem;

        .template-title {
          @include title.title($t-align: center);
        }

        .template-wrapper {
          pointer-events: none;
          @include m.flex($justify: space-evenly);
          width: 100%;

          .container-product {
            @include container-product(
              $isCircle: true,
              $align: center,
              $object-position: 50% 100%
            );
          }
        }

        .template-button {
          @include button.button($m: 0.25rem 0 0);
          background-color: #000;
          color: #fff;
        }
      }

      .style-3 {
        @include support.layout-styles();
        @include style-3();
        padding: $py-layout 0.55rem;

        .template-wrapper {
          overflow: clip;

          .template-title {
            @include title.title(
              $pos: absolute,
              $marquee: true,
              $fs: 1.2rem,
              $fw: 500
            );
            top: 0.9rem;
            z-index: 1;
          }
        }

        .container-product {
          @include container-product(
            $h-default: false,
            $h-custom: 5.4rem,
            $size-image: 4.3rem
          );
          z-index: 3;
        }

        .template-wrapper-loan {
          pointer-events: none;
          @include m.flex($direction: column);
          gap: 0.55rem;
          margin-top: 1.9rem;

          .template-desc {
            @include desc.desc($w: 70%, $t-align: center, $ln-h: 120%);
          }

          .template-button {
            @include button.button($p: 0.25rem 0.65rem);
            background-color: #000;
            color: #fff;
          }
        }
      }
    }

    .wrapper-right {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      height: 100%;
      gap: 0.7rem;
      overflow: hidden;

      .style-2 {
        @include support.layout-styles();
        @include style-2();
        padding: $py-layout 0.55rem;

        .template-wrapper-loan {
          pointer-events: none;
          @include m.flex(
            $direction: column,
            $justify: flex-start,
            $align: flex-start
          );
          gap: 0.1rem;

          .template-title {
            @include title.title($fw: 500);
          }

          .template-desc {
            @include desc.desc($w: 85%, $m: 0.08rem 0 0, $ln-h: 115%);
          }

          .template-button {
            @include button.button($m: 0.85rem 0 0, $p: 0.25rem 0.85rem);
            background-color: #000;
            color: #fff;
          }
        }

        .template-wrapper {
          pointer-events: none;
          @include m.flex();
          gap: 0.25rem;

          .container-product {
            @include container-product($size-image: 2.9rem);
          }
        }
      }

      .style-4 {
        @include support.layout-styles();
        @include style-4();
        padding: $py-layout 0.55rem;

        .template-wrapper-loan {
          pointer-events: none;
          width: 100%;
          @include m.flex($justify: space-between);

          .template-title {
            @include title.title($w: fit-content);
          }

          .template-button {
            @include button.button($bordered: true);
            color: #000;
          }
        }

        .template-wrapper {
          pointer-events: none;
          @include m.flex($justify: space-between);
          width: 100%;

          .container-product {
            @include container-product(
              $size-image: 3.6rem,
              $object-position: 50% 100%,
              $h-default: false,
              $h-custom: 4.4rem
            );
          }
        }
      }
    }
  }
}
