@use "../../helpers/mixins" as m;
@use "../../helpers/variables" as v;
@use "./Sidebar/sidebar" as sidebar;
@use "./Topbar/topbar" as topbar;
@use "../Pagination/pagination";
@use "./Modal/modal";
@use "../../pages/Profile/profile";
@use "../../pages/UsersManagement/DisplayUsers/display-users";
@use "../../pages/TemplatesManagement/TempPages/temp-pages";
@use "../../pages/TemplatesManagement/TempSections/temp-sections";
@use "../../pages/AccessManagement/MenuMan/menu-man";
@use "../../pages/AccessManagement/SubmenuMan/submenu-man";
@use "../../pages/AccessManagement/AccessMan/access-man";
@use "../../pages/AccessManagement/RoleMan/role-man";

.layout-dashboard {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-areas:
    "topbar topbar"
    "sidebar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  &-sidebar {
    grid-area: sidebar;

    @include sidebar.sidebar();
  }

  &-topbar {
    grid-area: topbar;

    @include topbar.topbar();
  }

  &-content {
    grid-area: content;
    width: 100%;
    height: auto;
    padding: (v.$px-main * 1.3) v.$px-main (v.$px-main * 1.3)
      (v.$px-main * 1.75);
  }
}
