@use "../../../helpers/mixins" as m;
@use "../../../helpers/variables" as v;
@use "../Support/support-dashboard" as support;
@use "../../AuthSupport/auth-support" as auth;

.overlay-modal-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: 0.5);
  z-index: 31;

  @mixin modal($max: 50vw, $p: 2.2rem 3.1rem 3.1rem) {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: #fff;
    z-index: 32;
    padding: $p;
    height: auto;
    max-width: $max;
    display: grid;
    max-height: 80vh;
    overflow: hidden auto;
  }

  .modal-dashboard {
    @include modal();

    grid-template-areas:
      "title close"
      "content content";

    &-title {
      font-size: 1.9rem;
      text-align: center;
      line-height: 125%;
      font-family: v.$bebas-neue;
      letter-spacing: 0.1rem;
      width: fit-content;
      font-weight: 100;
      grid-area: title;

      @include support.text-hover(0.12rem);
    }

    &-close {
      margin: auto 0 auto auto;
      width: fit-content;
      cursor: pointer;
      padding: 0.3rem;
      font-size: 1.5rem;
      font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
      color: #000;
      border-radius: 50%;
      transition: transform 0.4s ease-out, background-color 0.4s ease-out;
      background-color: #fff;

      &:hover {
        transform: rotate(90deg);
        transition: transform 0.4s ease-out, background-color 0.4s ease-out;
        background-color: adjust-color($color: #fff, $blackness: 5%);
      }
    }

    &-form {
      grid-area: content;
      width: 100%;
      gap: 0.95rem 1.3rem;
      margin-top: 0.9rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

      @mixin container($p: 0 0.9rem, $h: 3rem, $input: false) {
        width: 100%;
        font-size: 0.95rem;
        font-family: v.$raleway;
        padding: $p;
        height: $h;
        outline: none;

        @if $input {
          border: 0.05rem solid rgba($color: #000, $alpha: 0.5);
        }
      }

      &-group {
        width: 100%;
        @include m.flex($direction: column, $start: true);
        gap: 0.35rem;
        position: relative;

        label,
        .label {
          @include container($h: fit-content, $p: 0);

          span {
            font-size: 0.8rem;
            color: adjust-color($color: #fff, $blackness: 50%);
          }
        }

        input {
          @include container($input: true);
        }

        .select-default {
          @include container($input: true);
          @include m.flex($justify: space-between);
          gap: 1.7rem;
          cursor: pointer;

          .text {
            text-transform: capitalize;
          }

          .material-symbols-outlined {
            font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
            font-size: 1.3rem;
            transition: transform 0.6s ease;

            &.default-closed {
              transform: rotate(180deg);
              transition: transform 0.6s ease;
            }
          }
        }

        .select-list {
          position: absolute;
          width: 100%;
          height: 9rem;
          top: 110%;
          left: 0;
          z-index: 24;
          background-color: adjust-color($color: #fff, $blackness: 10%);
          overflow-y: auto;

          &.no-more {
            height: fit-content;
          }

          &-item {
            @include m.flex($justify: flex-start);
            @include container();
            text-transform: capitalize;
            cursor: pointer;

            &:not(:last-child) {
              border-bottom: #fff solid 0.1rem;
            }

            &:hover {
              background-color: #000;
              color: #fff;
            }
          }
        }

        .check-option {
          @include m.flex();
          gap: 0.3rem;
          cursor: pointer;

          .material-symbols-outlined {
            font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
          }

          .text {
            font-family: v.$raleway;
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
          }
        }

        .hide-pw {
          font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
          position: absolute;
          top: 15.5%;
          right: 4.5%;
          cursor: pointer;
        }

        @include auth.validation-password($mt: 0.5rem);
      }

      button {
        @include container();
        color: #fff;
        background-color: #000;
        border: none;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        margin-top: auto;

        @include support.button-hover($origin: top left);
      }
    }
  }

  .confirm-dashboard {
    @include modal($max: 27vw, $p: 1.6rem 2.1rem);
    gap: 0.3rem;

    &-title {
      font-weight: 800;
      margin-bottom: 0.1rem;
    }

    &-desc {
      font-size: 0.92rem;
    }

    &-action {
      margin-top: 1.5rem;
      @include m.flex($justify: flex-end);
      gap: 1.1rem;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.04rem;
      font-weight: 700;

      @mixin text($color) {
        cursor: pointer;
        color: $color;
      }

      .confirm {
        @include text(darken(support.$red, 10%));
        @include support.text-hover(
          $h: 0.08rem,
          $color: darken(support.$red, 10%),
          $pos: -20%
        );
      }

      .cancel {
        @include text(adjust-color(#fff, $blackness: 80%));
        @include support.text-hover(
          $h: 0.08rem,
          $color: adjust-color(#fff, $blackness: 80%),
          $pos: -20%
        );
      }
    }
  }
}
