@use "../../../helpers/variables" as v;

$personality-font-classes: (
  font-professional: v.$merriweather,
  font-professional-reverse: v.$fira-sans-extra-condensed,
  font-friendly: v.$amatic-sc,
  font-friendly-reverse: v.$roboto-condensed,
  font-luxury: v.$cinzel,
  font-luxury-reverse: v.$josefin-sans,
  font-innovative: v.$bebas-neue,
  font-innovative-reverse: v.$ibm-plex-mono,
  font-classic: v.$cormorant-garamond,
  font-classic-reverse: v.$archivo-black,
  font-playful: v.$lobster,
  font-playful-reverse: v.$raleway,
);

// ===== Function Fonts ===== //
@each $class-name, $font in $personality-font-classes {
  .#{$class-name} {
    font-family: #{$font};
  }
}

.font-playful-reverse {
  font-weight: 200;
}

.font-professional {
  font-weight: 100;
}
