@use "../../../helpers/mixins" as m;
@use "../../../helpers/variables" as v;
@use "../ai-builder-support" as support;
@use "./Config/navbar-layout-config" as config;

@mixin white-intro-el() {
  color: #fff;

  .template-search {
    input::placeholder {
      color: #fff;
    }
  }
}

@mixin navbar-layout($manipulation: false) {
  width: 100%;
  padding: (v.$p-navter * 0.8) v.$p-navter 0 v.$p-navter;
  border: v.$border-hover;
  position: absolute;
  z-index: 10;

  .change-layout {
    display: none;
  }

  @if $manipulation {
    padding-bottom: 3.1rem;
  }

  &.intro-el-1 {
    @include support.change-layout(
      $bg-color: adjust-color($color: #fff, $blackness: 90%),
      $border-color: adjust-color($color: #fff, $blackness: 90%),
      $color: #000
    );
  }

  &.intro-el-2 {
    @include support.change-layout(
      $bg-color: adjust-color($color: #000, $whiteness: 90%),
      $border-color: adjust-color($color: #000, $whiteness: 90%),
      $color: #fff
    );
  }

  &.intro-el-3 {
    @include white-intro-el();
    @include support.change-layout(
      $bg-color: adjust-color($color: #fff, $blackness: 10%),
      $border-color: adjust-color($color: #fff, $blackness: 10%),
      $color: adjust-color($color: #000, $whiteness: 90%)
    );
  }

  &.intro-el-4 {
    @include white-intro-el();
    @include support.change-layout(
      $bg-color: adjust-color($color: #fff, $blackness: 10%),
      $border-color: adjust-color($color: #fff, $blackness: 10%),
      $color: adjust-color($color: #000, $whiteness: 90%)
    );
  }

  &.style-1 {
    @include config.style-1();

    .template-logo {
      @include config.logo(
        $gap: 0.15rem,
        $fs-icon: v.$navter-icon,
        $fs-title: v.$navter-title,
        $line-height: 120%
      );
    }

    .template-links {
      @include config.links(
        $gap: 0.5rem,
        $fs-text: v.$navter-text,
        $m-right: 0.1rem
      );
    }
  }

  &.style-2 {
    @include config.style-2($row-gap: 0.25rem);
    padding-top: v.$p-navter * 0.9;

    .template-logo {
      @include config.logo(
        $gap: 0.15rem,
        $fs-icon: v.$navter-icon,
        $fs-title: v.$navter-title,
        $line-height: 120%
      );
    }

    .template-links {
      @include config.links(
        $gap: 0.5rem,
        $fs-text: v.$navter-text,
        $m-right: 0.1rem,
        $end: false
      );
    }
  }

  &.style-3 {
    @include config.style-3($row-gap: 0.5rem);
    padding-top: 1.05rem;

    .template-logo {
      @include config.logo(
        $gap: 0.15rem,
        $fs-icon: v.$navter-icon,
        $fs-title: v.$navter-title,
        $line-height: 120%,
        $start: false
      );
    }

    .template-features {
      @include config.features(
        $gap: 0.15rem,
        $fs-icon: v.$navter-icon,
        $fs-text: v.$navter-text,
        $m-top: -0.05rem
      );
    }

    .template-wrapper {
      .template-links {
        @include config.links(
          $gap: 0.5rem,
          $fs-text: v.$navter-text,
          $m-right: 0.1rem,
          $end: false
        );
      }

      .template-search {
        @include config.search(
          $gap: 0.15rem,
          $fs-icon: 12px,
          $fs-icon-warn: v.$navter-icon,
          $fs-text: v.$navter-text,
          $m: auto,
          $p: 0.35rem 0.4rem,
          $height: 1.5vh,
          $width: 13vw
        );
      }
    }
  }

  &.style-4 {
    @include config.style-4();

    .template-logo {
      @include config.logo(
        $gap: 0.15rem,
        $fs-icon: v.$navter-icon,
        $fs-title: v.$navter-title,
        $line-height: 120%
      );
    }

    .template-links {
      @include config.links(
        $gap: 0.5rem,
        $fs-text: v.$navter-text,
        $m-right: 0.1rem,
        $end: false
      );
    }

    .template-features {
      @include config.features(
        $gap: 0.15rem,
        $fs-icon: v.$navter-icon,
        $fs-text: v.$navter-text,
        $m-top: -0.05rem
      );
    }
  }
}
