@use "./../../helpers/mixins" as m;
@use "./../../helpers/variables" as v;
@use "./../Sidebar/sidebar" as s;
@use "./../Topbar/topbar" as t;
@use "./../Topbar/media-topbar" as media-t;
@use "./../Sidebar/media-sidebar" as media-s;

.layout {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar topbar"
    "sidebar content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  position: relative;

  .topbar {
    grid-area: topbar;
    @include t.topbar();
    @include media-t.media-topbar();
  }
  
  .sidebar {
    grid-area: sidebar;
    @include s.sidebar();
    @include media-s.media-sidebar();
  }

  .content {
    width: 100%;
    grid-area: content;
  }
}
