@use "../../../helpers/variables" as v;

$personality-font-classes: (
  font-friendly: v.$open-sans,
  font-friendly-reverse: v.$raleway,
  font-professional: v.$roboto,
  font-professional-reverse: v.$georgia,
  font-luxury: v.$abril-fatface,
  font-luxury-reverse: v.$cormorant-garamond,
  font-innovative: v.$space-mono,
  font-innovative-reverse: v.$orbitron,
  font-bold: v.$anton,
  font-bold-reverse: v.$bebas-neue,
  font-classic: v.$lora,
  font-classic-reverse: v.$pt-serif,
  font-edgy: v.$oswald,
  font-edgy-reverse: v.$russo-one,
  font-playful: v.$poppins,
  font-playful-reverse: v.$fredoka-one,
  font-sophisticated: v.$playfair-display,
  font-sophisticated-reverse: v.$merriweather,
  font-quirky: v.$lobster,
  font-quirky-reverse: v.$pacifico,
);

// ===== Function Fonts ===== //
@each $class-name, $font in $personality-font-classes {
  .#{$class-name} {
    font-family: #{$font};
  }
}
