@use "./variables" as v;

@mixin flex(
  $align: center,
  $justify: center,
  $direction: row,
  $start: false,
  $end: false
) {
  display: flex;
  flex-direction: $direction;

  @if $start {
    align-items: flex-start;
    justify-content: flex-start;
  } @else if $end {
    align-items: flex-end;
    justify-content: flex-end;
  } @else {
    align-items: $align;
    justify-content: $justify;
  }
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin withoutScrollBar() {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
