@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Archivo+Black&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Comfortaa:wght@300..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Eczar:wght@400..800&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Chewy&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Gloria+Hallelujah&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patrick+Hand&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// <----- Font Logo ----->
$comfortaa: "Comfortaa", serif;

// <----- Font Default ----->
$nunito: "Nunito Sans", sans-serif;

// <----- Font Error ----->
$eczar: "Eczar", serif;
$poppins: "Poppins", serif;

// <----- Font Brands Personality ----->
$amatic-sc: "Amatic SC", serif;
$roboto-condensed: "Roboto Condensed", serif;
$merriweather: "Merriweather", serif;
$fira-sans-extra-condensed: "Fira Sans Extra Condensed", serif;
$cinzel: "Cinzel", serif;
$josefin-sans: "Josefin Sans", serif;
$bebas-neue: "Bebas Neue", serif;
$ibm-plex-mono: "IBM Plex Mono", serif;
$cormorant-garamond: "Cormorant Garamond", serif;
$archivo-black: "Archivo Black", serif;
$lobster: "Lobster", serif;
$raleway: "Raleway", serif;

// <----- Font Element ----->
// $merriweather: "Merriweather", serif;
$roboto: "Roboto", serif;
$libre-baskerville: "Libre Baskerville", serif;
$work-sans: "Work Sans", serif;
// $poppins: "Poppins", serif;
$patrick-hand: "Patrick Hand", serif;
$quicksand: "Quicksand", serif;
$caveat: "Caveat", serif;
$playfair-display: "Playfair Display", serif;
$lora: "Lora", serif;
// $cormorant-garamond: "Cormorant Garamond", serif;
$dm-sans: "DM Sans", serif;
$montserrat: "Montserrat", serif;
// $raleway: "Raleway", serif;
$exo-2: "Exo 2", serif;
// $bebas-neue: "Bebas Neue", serif;
$eb-garamond: "EB Garamond", serif;
$open-sans: "Open Sans", serif;
$crimson-text: "Crimson Text", serif;
// $josefin-sans: "Josefin Sans", serif;
// $amatic-sc: "Amatic SC", serif;
$chewy: "Chewy", serif;
$gloria-hallelujah: "Gloria Hallelujah", serif;
$fredoka: "Fredoka", serif;

// <----- Main ----->
$px-main: 2.1rem;

// <----- Ai Builder ----->
$pt-overview: 5.7rem;
$px-content: 3.7rem;
$pt-content: 6.3rem;
$pb-content: 3.6rem;

// <----- Overview Website ----->
$p-navter: 1.1rem;
$navter-title: 0.65rem;
$navter-icon: 17px;
$navter-text: 0.5rem;

// <----- Layout Navbar & Footer Option ----->
$navter-icon-layout: 7px;
$navter-title-layout: 5px;
$navter-text-layout: 4px;

// <----- Elements PagesAi ----->
$border-hover: transparent solid 1.5px;
$py-layout-section: 1.35rem;
