@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Fredoka:wght@300..700&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Unica+One&display=swap");

// <----- Fonts Logo ----->
$unica: "Unica One", serif;

// <----- Fonts Personality ----->
$open-sans: "Open Sans", serif;
$raleway: "Raleway", serif;
$roboto: "Roboto Slab", serif;
$georgia: Georgia, "Times New Roman", Times, serif;
$lora: "Lora", serif;
$pt-serif: "PT Serif", serif;
$orbitron: "Orbitron", sans-serif;
$space-mono: "Space Mono", serif;
$poppins: "Poppins", serif;
$fredoka-one: "Fredoka One", serif;
$abril-fatface: "Abril Fatface", serif;
$cormorant-garamond: "Cormorant Garamond", serif;
$playfair-display: "Playfair Display", serif;
$merriweather: "Merriweather", serif;
$anton: "Anton", serif;
$bebas-neue: "Bebas Neue", serif;
$oswald: "Oswald", serif;
$russo-one: "Russo One", serif;
$lobster: "Lobster", serif;
$pacifico: "Pacifico", serif;

// <----- Main ----->
$px-main: 1.9rem;

// <----- Ai Builder ----->
$pt-overview: 5.7rem;
$px-content: 3.7rem;
$pt-content: 6.3rem;
$pb-content: 3.6rem;

// <----- Overview Website ----->
$p-navter: 1.1rem;
$navter-title: 0.65rem;
$navter-icon: 17px;
$navter-text: 0.5rem;

// <----- Layout Navbar & Footer Option ----->
$navter-icon-layout: 7px;
$navter-title-layout: 5px;
$navter-text-layout: 4px;

// <----- Elements PagesAi ----->
$border-hover: transparent solid 1.5px;
