@use "../../helpers/mixins" as m;
@use "../../helpers/variables" as v;
@use "../../helpers/animation" as *;
@use "../../components/AiBuilderSupport/ai-builder-support" as header;
@use "./ai-builder-steps" as steps;
@use "./SiteInfo/site-info" as site-info;
@use "./PagesAi/pages-ai" as pages-ai;

.ai-builder {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: calc(100vh - 6rem) 6rem;
  grid-template-areas:
    "overview content"
    "steps steps";
  @include m.withoutScrollBar();

  &-overview {
    grid-area: overview;
    width: 100%;
    height: 100%;
    position: relative;

    @include header.logo();
    @include m.withoutScrollBar();
    @include site-info.site-info-overview();
    @include pages-ai.pages-ai-overview();
  }

  &-content {
    grid-area: content;
    width: 40vw;
    height: 100%;
    position: relative;

    @include header.quit();
    @include site-info.site-info-content();
    @include pages-ai.pages-ai-content();
  }

  &-steps {
    grid-area: steps;
    @include m.flex($justify: space-between);
    width: 100%;
    height: 6rem;
    padding: 0 v.$px-main;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;

    @include steps.steps();
  }
}
