@use "../../../../../helpers/mixins" as m;
@use "../../../../../helpers/variables" as v;
@use "../../../ai-builder-support" as support;
@use "../../ExpalotComponents/expalot-title" as title;
@use "../../ExpalotComponents/expalot-desc" as desc;
@use "../../ExpalotComponents/expalot-button" as button;

$fs-title: 7.5px;
$fs-desc: 3px;
$fs-text: 4px;
$py-layout: 0.45rem;
$px-layout: 0.5rem;

@mixin form(
  $fs: $fs-text,
  $fs-input: $fs-desc,
  $radius-input-textarea: true,
  $size-radius: 0.4rem,
  $border-color: #000,
  $bw-input-textarea: 0.3px,
  $b-clr-textarea: #000,
  $border-input: 0 0 0 $bw-input-textarea $border-color,
  $p-input-textarea: 0.21rem 0.28rem,
  $h-textarea: 1.7rem,
  $w-group: 100%,
  $gap-group: 0.2rem,
  $w-parent: 100%,
  $gap-parent: 0.38rem,
  $align-form: flex-start,
  $form-parent: true,
  $m-parent: 0,
  $overview: false,
  $l-spacing: normal,
  $diff-p: false,
  $p-textarea: 0.21rem 0.28rem
) {
  @if $form-parent {
    @include m.flex($direction: column, $align: $align-form);
    gap: $gap-parent;
    width: $w-parent;
    margin: $m-parent;
  }

  @if $overview {
    pointer-events: auto;
  } @else {
    pointer-events: none;
  }

  .template-form-group {
    width: $w-group;
    color: #000;
    @include m.flex($direction: column, $align: flex-start);
    gap: $gap-group;

    label {
      font-size: $fs;
      position: relative;
      line-height: 100%;

      span {
        font-size: $fs * 0.85;
        color: adjust-color($color: #000, $whiteness: 90%);
      }
    }

    input {
      font-size: $fs-input;
      width: 100%;
      border: none;
      outline: none;
      padding: $p-input-textarea;
      @include m.flex();
      box-shadow: $border-input;
      background-color: transparent;
      letter-spacing: $l-spacing;

      @if $radius-input-textarea {
        border-radius: 50rem;
      }
    }

    textarea {
      box-shadow: 0 0 0 $bw-input-textarea $b-clr-textarea;
      width: 100%;
      height: $h-textarea;
      border: none;
      outline: none;
      font-size: $fs;
      resize: none;
      background-color: transparent;
      overflow-y: auto;
      letter-spacing: $l-spacing;

      @if $diff-p {
        padding: $p-textarea;
      } @else {
        padding: $p-input-textarea;
      }

      @if $radius-input-textarea {
        border-radius: $size-radius;
      }
    }
  }
}

@mixin image($mb: 0.4rem, $h: 4rem, $w: 100%, $obj-pos: center) {
  width: $w;
  height: $h;
  object-fit: cover;
  object-position: $obj-pos;
  margin-bottom: $mb;
  pointer-events: none;
}

@mixin style-1($gap: 2.2rem) {
  display: grid;
  grid-template-columns: 0.85fr 1fr;
  gap: $gap;
  align-items: flex-start;
}

@mixin style-2($gap: 0.6rem) {
  @include m.flex($direction: column);
  gap: $gap;
}

@mixin style-3($gap: 1.3rem) {
  display: grid;
  grid-template-columns: 0.85fr 1fr;
  gap: $gap;
}

@mixin style-4($p: 0 2.9rem) {
  @include m.flex();
  padding: $p;
}

@mixin expalot-form() {
  &-styles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "wrapper wrapper";
    gap: 0.8rem 0.7rem;

    .title {
      grid-area: title;
      @include support.title-expalot();
    }

    .wrapper-left {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      overflow: hidden;
      height: 100%;
      gap: 0.7rem;

      .layout-1 {
        @include support.layout-styles();
        @include style-1();

        .template-wrapper {
          .template-title {
            @include title.title();
          }

          .template-desc {
            @include desc.desc($fs: $fs-desc, $m: 0.18rem 0 0, $ln-h: 135%);
          }
        }

        .template-form {
          @include form();

          .template-button {
            @include button.button($p: 0.23rem 0.35rem, $l-spacing: 0.25px);
            background-color: #000;
            color: #fff;
            // @include button($bg: #000, $color: #fff);
          }
        }
      }

      .layout-3 {
        @include support.layout-styles();
        @include style-3();

        .template-wrapper {
          @include m.flex($direction: column);
          height: 100%;

          .template-title {
            @include title.title($fs: $fs-title * 2.5, $ln-h: 85%);
          }

          .template-desc {
            @include desc.desc($fs: $fs-desc, $m: 0.18rem 0 0, $ln-h: 135%);
          }

          .template-form {
            @include form(
              $radius-input-textarea: false,
              $m-parent: auto 0 0,
              $border-color: #ccc,
              $gap-parent: 0.15rem
            );

            .template-button {
              @include button.button(
                $p: 0.25rem 0.45rem,
                $l-spacing: 0.25px,
                $m: 0.25rem 0
              );
              background-color: #000;
              color: #fff;
            }
          }
        }

        .template-image {
          @include image($h: 6.2rem, $mb: 0);
        }
      }
    }

    .wrapper-right {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      height: 100%;
      gap: 0.7rem;
      overflow: hidden;

      .layout-2 {
        @include support.layout-styles();
        @include style-2();
        background-color: #eaeaea;

        .template-wrapper {
          @include m.flex($direction: column);

          .template-title {
            @include title.title($t-align: center);
          }

          .template-desc {
            @include desc.desc($t-align: center, $w: 85%, $ln-h: 135%);
          }
        }

        .template-form {
          @include form(
            $w-parent: 50%,
            $align-form: center,
            $border-input: 0 0 0 0.2px #000
          );

          .template-button {
            @include button.button(
              $p: 0.28rem 0.55rem,
              $l-spacing: 0.25px,
              $m: 0.05rem 0 0
            );
            background-color: #000;
            color: #fff;
          }
        }
      }

      .layout-4 {
        @include support.layout-styles();
        @include style-4();

        .template-wrapper {
          background-color: #fff;
          padding: 0.6rem 0.8rem;
          @include m.flex($direction: column);
          gap: 0.3rem;

          .template-title {
            @include title.title($t-align: center);
          }

          .template-desc {
            @include desc.desc(
              $fs: $fs-desc,
              $m: -0.15rem 0 0.2rem,
              $ln-h: 135%,
              $t-align: center
            );
          }

          @include form(
            $form-parent: false,
            $radius-input-textarea: false,
            $w-group: 60%,
            $border-input: 0 0 0 0.1px adjust-color(#000, $whiteness: 100%)
          );

          .template-button {
            @include button.button($p: 0.25rem 0.45rem, $l-spacing: 0.25px);
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
  }
}
