@use "../../../../helpers/mixins" as m;
@use "../../../../helpers/variables" as v;
@use "../../../../helpers/animation";

$fs-title: 7.5px;
$fs-title-marquee: 22px;

@mixin title(
  $fs: $fs-title,
  $fw: 600,
  $w: 100%,
  $t-align: left,
  $ln-h: normal,
  $pos: static,
  $marquee: false,
  $distance: 0.5rem,
  $events: none,
  $time: 20s
) {
  width: $w;
  font-size: $fs;
  font-weight: $fw;
  text-align: $t-align;
  line-height: $ln-h;
  position: $pos;
  pointer-events: $events;

  @if $marquee {
    display: flex;
    gap: $distance;
    width: max-content;
    padding-left: $distance;
    animation: marquee-text $time linear infinite forwards;
  }
}
