@use "../../../../helpers/mixins" as m;
@use "../../../../helpers/variables" as v;
@use "../../../../components/AiBuilderSupport/ai-builder-support" as support;
@use "./about-el-config" as config;

$fs-title: 1.5rem;
$fs-desc: 8px;
$fs-text: 10px;
$fs-name: 13px;
$fs-preface: 6px;

@mixin about-el() {
  width: 100%;
  height: auto;
  border: v.$border-hover;
  position: relative;

  &.style-1 {
    @include config.style-1($gap: 3rem);
    padding: v.$py-layout-section v.$p-navter;

    .template-wrapper {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );

      .template-title {
        @include config.title($w: 60%, $fs: $fs-title);
      }

      .template-desc {
        @include config.desc($w: 70%, $fs: $fs-desc, $mt: 0.35rem);
      }

      .template-button {
        @include config.button(
          $m: 1.9rem 0 1.7rem,
          $bg: #000,
          $color: #fff,
          $fs: $fs-desc,
          $p: 0.6rem 1.7rem
        );
      }

      .template-image-1 {
        @include config.image($h: 9rem, $mb: 0, $obj-pos: center 85%);
      }
    }

    .template-image-2 {
      @include config.image($w: 85%, $h: 14rem, $mb: 0);
    }
  }

  &.style-2 {
    @include config.style-2($gap: .9rem);

    .template-wrapper {
      padding: v.$py-layout-section v.$p-navter (v.$py-layout-section * 0.5);
      @include m.flex($align: flex-start);
      gap: 0.9rem;

      .template-title {
        @include config.title($w: 80%, $fs: $fs-title);
      }

      .template-desc {
        @include config.desc($fs: $fs-desc, $w: 85%);
      }
    }

    .template-image {
      height: 100%;
      width: 100%;
    }
  }

  &.style-3 {
    @include config.style-3($p: 2.9rem 6.5rem);

    .template-wrapper {
      background-color: #fff;
      padding: 2.5rem;
      @include m.flex($direction: column, $justify: flex-start);

      .template-title {
        @include config.title($t-align: center, $fs: $fs-title);
      }

      .template-desc {
        @include config.desc($t-align: center, $fs: $fs-desc, $mt: 0.6rem);
      }

      .template-button {
        @include config.button(
          $m: 1.5rem 0 0,
          $bg: #000,
          $color: #fff,
          $fs: $fs-desc,
          $p: 0.6rem 1.7rem
        );
      }
    }
  }

  &.style-4 {
    @include config.style-4($gap: 1.7rem);
    padding: v.$py-layout-section v.$p-navter;

    .template-image {
      @include config.image($h: 38vh, $mb: 0);
    }

    .template-wrapper {
      @include m.flex($direction: column, $align: flex-start);
      gap: 0.15rem;

      .template-title {
        @include config.title($fs: $fs-title);
      }

      .template-loan {
        @include m.flex($align: flex-start);
        gap: 0.5rem;

        .template-desc {
          @include config.desc($fs: $fs-desc, $mt: 0.5rem);
        }
      }

      .template-button {
        @include config.button(
          $m: 1.6rem 0 0,
          $bg: #000,
          $color: #fff,
          $fs: $fs-desc,
          $p: 0.6rem 1.7rem
        );
      }
    }
  }

  .change-layout {
    display: none;
  }

  @include support.change-layout(
    $bg-color-default: adjust-color($color: #fff, $blackness: 90%),
    $bg-color: #000,
    $border-color: adjust-color($color: #fff, $blackness: 90%),
    $color: #fff
  );
}
