@use "../../../../helpers/mixins" as m;
@use "../../../../helpers/variables" as v;
@use "../../../../components/AiBuilderSupport/ai-builder-support" as support;

$fs-title: 7.5px;
$fs-desc: 3px;
$fs-text: 4px;
$fs-name: 5px;
$fs-preface: 6px;
$py-layout: 0.45rem;
$px-layout: 0.5rem;

@mixin title($fs: $fs-title, $fw: 600, $w: 100%, $t-align: left) {
  width: $w;
  font-size: $fs;
  font-weight: $fw;
  line-height: 100%;
  // pointer-events: none;
  text-align: $t-align;
}

@mixin desc(
  $fs: $fs-desc,
  $mt: 0.18rem,
  $w: 100%,
  $ln-h: 130%,
  $t-align: left
) {
  font-size: $fs;
  margin-top: $mt;
  line-height: $ln-h;
  // pointer-events: none;
  width: $w;
  text-align: $t-align;
}

@mixin button(
  $fs: $fs-text,
  $m: 0,
  $p: 0.22rem 0.62rem,
  $bg: transparent,
  $color: #000,
  $t-decor: none
) {
  font-size: $fs;
  border-radius: 50vw;
  @include m.flex();
  width: fit-content;
  line-height: 100%;
  cursor: pointer;
  padding: $p;
  margin: $m;
  background-color: $bg;
  color: $color;
  text-decoration: $t-decor;
}

@mixin image($mb: 0.4rem, $h: 4rem, $w: 100%, $obj-pos: center) {
  width: $w;
  height: $h;
  object-fit: cover;
  object-position: $obj-pos;
  margin-bottom: $mb;
  // pointer-events: none;
}

@mixin style-1($gap: 2.1rem) {
  @include m.flex($align: flex-start);
  gap: $gap;
}

@mixin style-2($gap: 0.6rem) {
  @include m.flex($direction: column);
  gap: $gap;
}

@mixin style-3($p: 0 2.9rem) {
  @include m.flex();
  padding: $p;
}

@mixin style-4($gap: 0.95rem) {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: $gap;
}

.expalot-about-el {
  @include support.expalot-elements($vertical: -53.25rem);

  &-styles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "wrapper wrapper";
    gap: 0.8rem 0.7rem;

    .title {
      grid-area: title;
      @include support.title-expalot();
    }

    .wrapper-left {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      overflow: hidden;
      height: 100%;
      gap: 0.7rem;

      .style-1 {
        @include support.layout-styles();
        @include style-1();

        .template-wrapper {
          @include m.flex(
            $direction: column,
            $justify: flex-start,
            $align: flex-start
          );

          .template-title {
            @include title($w: 50%);
          }

          .template-desc {
            @include desc($w: 70%);
          }

          .template-button {
            @include button($m: 0.75rem 0, $bg: #000, $color: #fff);
          }

          .template-image-1 {
            @include image($h: 2.8rem, $mb: 0, $obj-pos: center 85%);
          }
        }

        .template-image-2 {
          @include image($w: 75%, $h: 5rem, $mb: 0);
        }
      }

      .style-3 {
        @include support.layout-styles();
        @include style-3();

        .template-wrapper {
          background-color: #fff;
          padding: 0.9rem;
          @include m.flex($direction: column, $justify: flex-start);

          .template-title {
            @include title($t-align: center);
          }

          .template-desc {
            @include desc($t-align: center);
          }

          .template-button {
            @include button($m: 0.6rem 0 0.25rem, $bg: #000, $color: #fff);
          }
        }
      }
    }

    .wrapper-right {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      height: 100%;
      gap: 0.7rem;
      overflow: hidden;

      .style-2 {
        @include support.layout-styles($p: 0);
        @include style-2();

        .template-wrapper {
          padding: 0.6rem 0.55rem 0 0.55rem;
          @include m.flex();
          gap: 0.4rem;

          .template-title {
            @include title($w: 80%);
          }

          .template-desc {
            @include desc();
          }
        }

        .template-image {
          height: 100%;
          width: 100%;
          background-position: center 80% !important;
        }
      }

      .style-4 {
        @include support.layout-styles();
        @include style-4();

        .template-image {
          @include image($h: 5.6rem, $mb: 0);
        }

        .template-wrapper {
          @include m.flex($direction: column, $align: flex-start);
          gap: 0.05rem;

          .template-title {
            @include title();
          }

          .template-loan {
            @include m.flex($align: flex-start);
            gap: 0.2rem;

            .template-desc {
              @include desc();
            }
          }

          .template-button {
            @include button($bg: #000, $color: #fff, $m: 0.65rem 0 0);
          }
        }
      }
    }
  }
}
