@use "../../../helpers/mixins" as m;
@use "../../../helpers/variables" as v;
@use "../../../components/LayoutDashboard/Support/support-dashboard.scss" as
  support;

.display-users {
  @include support.wrapper-parent();

  @include support.header();

  &-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 0.3rem;
    font-size: 0.95rem;

    .item {
      @include m.flex($direction: column, $justify: flex-start);
      gap: 0.075rem;
      padding: 1.4rem 1.25rem 1.5rem;
      transition: all 0.3s ease-in;
      width: 100%;

      @mixin item() {
        width: 100%;
        text-align: center;
        font-family: v.$raleway;
        pointer-events: none;
        transition: all 0.3s ease-in;
        overflow-wrap: break-word;
        white-space: normal;
      }

      &-avatar {
        width: 5rem;
        height: auto;
        object-fit: cover;
        margin-bottom: 0.75rem;
      }

      &-email {
        @include item();
        font-size: 0.85rem;
      }

      &-username {
        @include item();
      }

      &-phone-number {
        margin-top: 0.3rem;
        font-size: 0.9rem;
        @include item();
      }

      &-action {
        margin-top: 1.1rem;
        @include m.flex();
        gap: 0.25rem;

        &-edit {
          @include support.icon-action(support.$yellow);
        }

        &-delete {
          @include support.icon-action(support.$red);
        }

        &-role {
          @include m.flex();
          transition: all 0.3s ease-in;
          cursor: default;
          border: support.$orange solid 1px;

          &.super-admin {
            border: support.$purple solid 1px;
          }

          &.admin {
            border: support.$cyan solid 1px;
          }

          &.customer {
            border: support.$teal solid 1px;
          }

          &.developer {
            border: support.$pink solid 1px;
          }

          &-icon {
            @include support.icon-action(support.$orange, $default: true);

            &.super-admin {
              @include support.icon-action(support.$purple, $default: true);
            }

            &.admin {
              @include support.icon-action(support.$cyan, $default: true);
            }

            &.customer {
              @include support.icon-action(support.$teal, $default: true);
            }

            &.developer {
              @include support.icon-action(support.$pink, $default: true);
            }
          }

          &-text {
            margin-left: -0.1rem;
            font-size: 0.8rem;
            font-family: v.$raleway;
            transition: all 0.3s ease-in;
            padding-right: 0.33rem;
            color: support.$orange;

            &.super-admin {
              color: support.$purple;
            }

            &.admin {
              color: support.$cyan;
            }

            &.customer {
              color: support.$teal;
            }

            &.developer {
              color: support.$pink;
            }
          }

          &:hover {
            transition: all 0.3s ease-out;
            background-color: support.$orange;

            &.super-admin {
              background-color: support.$purple;
            }

            &.admin {
              background-color: support.$cyan;
            }

            &.customer {
              background-color: support.$teal;
            }

            &.developer {
              background-color: support.$pink;
            }

            .item-action-role-icon {
              font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
              transition: all 0.3s ease-out;
            }

            .item-action-role-text,
            .item-action-role-icon {
              color: #fff;
              transition: all 0.3s ease-out;
            }
          }
        }
      }

      &:hover {
        background-color: #000;
        transition: all 0.6s ease-out;

        .item-username,
        .item-email,
        .item-phone-number {
          color: #fff;
          transition: all 0.3s ease-out;
        }
      }
    }
  }

  &-list {
    width: 100%;
    display: grid;
    font-family: v.$raleway;
    font-size: 0.95rem;

    .head {
      display: grid;
      grid-template-columns: auto 1fr 0.6fr 0.5fr 0.4fr;

      &-col {
        padding: 1.1rem 1rem;
        border-right: 0;
        background-color: #000;
        color: #fff;
        font-weight: 600;

        &:first-child {
          width: 4.4rem;
          @include m.flex();
        }

        &:nth-child(4) {
          @include m.flex();
        }

        &:last-child {
          @include m.flex();
          border-right: #fff solid 1px;
        }
      }
    }

    .body {
      display: grid;
      grid-template-columns: auto 1fr 0.6fr 0.5fr 0.4fr;

      &-col {
        padding: 1.75rem 0.9rem 0;
        @include m.flex($justify: flex-start);

        &:first-child {
          width: 4rem;
          @include m.flex();
        }

        &:nth-child(2) {
          @include m.flex($justify: flex-start);
          gap: 0.6rem;

          .avatar {
            width: 3.4rem;
            height: auto;
            object-fit: cover;
          }

          .info {
            @include m.flex($direction: column, $start: flex-start);
            gap: 0.2rem;

            &-username {
              overflow-wrap: break-word;
              white-space: normal;
            }

            &-email {
              overflow-wrap: break-word;
              white-space: normal;
              font-size: 0.85rem;
            }
          }
        }

        &:nth-child(4) {
          @include m.flex();

          .body-col-role {
            text-transform: capitalize;
            @include support.set-default(
              $bg: support.$orange,
              $color: #fff,
              $static: false,
              $p: 0.45rem 0.7rem
            );
            @include m.flex();
            gap: 0.1rem;

            .material-symbols-rounded {
              font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
              font-size: 1.1rem;
            }

            &.super-admin {
              @include support.set-default(
                $bg: support.$purple,
                $color: #fff,
                $static: false,
                $p: 0.45rem 0.7rem
              );
              @include m.flex();
              gap: 0.2rem;

              .material-symbols-rounded {
                font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0,
                  "opsz" 24;
                font-size: 1.1rem;
              }
            }

            &.admin {
              @include support.set-default(
                $bg: support.$cyan,
                $color: #fff,
                $static: false,
                $p: 0.45rem 0.7rem
              );
              @include m.flex();
              gap: 0.1rem;

              .material-symbols-rounded {
                font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0,
                  "opsz" 24;
                font-size: 1.1rem;
              }
            }

            &.customer {
              @include support.set-default(
                $bg: support.$teal,
                $color: #fff,
                $static: false,
                $p: 0.45rem 0.7rem
              );
              @include m.flex();
              gap: 0.1rem;

              .material-symbols-rounded {
                font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0,
                  "opsz" 24;
                font-size: 1.1rem;
              }
            }

            &.developer {
              @include support.set-default(
                $bg: support.$pink,
                $color: #fff,
                $static: false,
                $p: 0.45rem 0.7rem
              );
              @include m.flex();
              gap: 0.1rem;

              .material-symbols-rounded {
                font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0,
                  "opsz" 24;
                font-size: 1.1rem;
              }
            }
          }
        }

        &:last-child {
          @include m.flex();
          gap: 0.35rem;

          .edit {
            @include support.icon-action(support.$yellow, 1.3rem, 100);
          }

          .delete {
            @include support.icon-action(support.$red, 1.3rem, 100);
          }
        }
      }
    }
  }
}
