@use "../../../helpers/mixins" as m;
@use "../../../helpers/variables" as v;

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

@mixin wrapper-parent() {
  width: 100%;
  @include m.flex($direction: column, $start: true);
  gap: 1.95rem;
}

@mixin text-hover($h: 0.12rem, $color: #000, $pos: 0, $time: 0.8s) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: $h;
    background-color: $color;
    left: 0;
    bottom: $pos;
    transform: scaleX(0);
    transition: transform $time ease-in;
    transform-origin: left;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transition: transform $time ease-out;
    }
  }
}

@mixin button-hover(
  $bg: adjust-color($color: #000, $whiteness: 25%),
  $origin: top right,
  $time: 0.6s
) {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $bg;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transform-origin: $origin;
    transition: transform $time ease-in;
  }

  &:hover {
    &::after {
      transition: transform $time ease-out;
      transform: scale(1);
    }
  }
}

@mixin header-icon(
  $i-weight: 200,
  $bg: adjust-color($color: #fff, $blackness: 7%),
  $bg-hover: adjust-color($color: #fff, $blackness: 10.5%)
) {
  font-variation-settings: "FILL" 0, "wght" $i-weight, "GRAD" 0, "opsz" 24;
  @include m.flex();
  padding: 0.7rem;
  height: 2.9rem;
  background-color: $bg;
  position: relative;
  cursor: pointer;
  z-index: 2;

  @include button-hover($bg: $bg-hover, $origin: top left, $time: 0.5s);
}

@mixin header() {
  &-header {
    width: 100%;
    @include m.flex($justify: space-between);

    .title {
      font-size: 1.8rem;
      color: #000;
      font-family: v.$bebas-neue;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      line-height: 135%;

      @include text-hover($time: 1.1s);
    }

    .header-wrapper {
      @include m.flex();
      gap: 0.7rem;

      .header-wrapper-search {
        @include m.flex($justify: flex-start);
        background-color: #000;
        @include button-hover();
        height: 2.9rem;
        width: 3.05rem;
        padding: 0 0.7rem;
        transition: width 0.4s ease-in;

        &:focus-within {
          width: 16rem;
          transition: width 0.4s ease-out;
        }

        .search-loan {
          border: #fff solid 1.5px;
          width: 1.68rem;
          height: 1.68rem;
          border-radius: 50vw;
          position: relative;
          transition: width 0.4s ease-in;

          &::after {
            content: "";
            position: absolute;
            bottom: -0.28rem;
            right: 0.06rem;
            width: 0.1rem;
            height: 0.5rem;
            background-color: #fff;
            transform: rotate(135deg);
          }

          &:focus-within {
            width: 15rem;
            transition: width 0.4s ease-out;
          }

          input {
            outline: none;
            border: none;
            background-color: transparent;
            height: 100%;
            width: 100%;
            padding: 0 0.65rem;
            font-size: 11.5px;
            letter-spacing: 0.6px;
            font-family: v.$raleway;
            @include m.flex($justify: flex-start);
            transition: color 0.4s ease-in;

            &::placeholder {
              opacity: 0;
              color: #fff;
              transition: opacity 0.4s ease-in;
            }

            &:focus {
              color: #fff;
              transition: color 0.4s ease-out;

              &::placeholder {
                opacity: 1;
                transition: opacity 0.4s ease-out;
              }
            }
          }
        }
      }

      .new-data {
        @include m.flex();
        padding: 0 1.15rem;
        height: 2.9rem;
        text-transform: uppercase;
        color: #fff;
        background-color: #000;
        font-size: 0.75rem;
        letter-spacing: 0.08rem;

        @include button-hover();
      }

      .material-symbols-outlined {
        @include header-icon();

        &.active {
          background-color: adjust-color($color: #fff, $blackness: 25%);
          color: #fff;

          &::after {
            background-color: adjust-color($color: #fff, $blackness: 37.5%);
            transform-origin: top right;
          }
        }
      }

      &-loan {
        @include m.flex();
      }
    }
  }
}

@mixin icon-action(
  $color,
  $size: 1rem,
  $weight: 200,
  $default: false,
  $p: 0.22rem
) {
  font-size: $size;
  @include m.flex();
  padding: $p;
  transition: all 0.3s ease-in;
  background-color: transparent;
  color: $color;
  font-variation-settings: "FILL" 0, "wght" $weight, "GRAD" 0, "opsz" 24;

  @if $default == false {
    border: $color solid 1px;
    cursor: pointer;

    &:hover {
      background-color: $color;
      color: #fff;
      font-variation-settings: "FILL" 1, "wght" $weight, "GRAD" 0, "opsz" 24;
      transition: all 0.3s ease-out;
    }
  }
}

@mixin component-action($clr: $cyan) {
  @include m.flex();
  border: $clr solid 1px;
  transition: all 0.3s ease-in;
  cursor: default;

  .item-action-icon {
    @include icon-action($clr, $default: true);
  }

  .text {
    margin-left: -0.1rem;
    font-size: 0.8rem;
    font-family: v.$raleway;
    transition: all 0.3s ease-in;
    padding-right: 0.33rem;
    color: $clr;
  }

  &:hover {
    background-color: $clr;
    transition: all 0.3s ease-out;

    .item-action-icon {
      font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
      transition: all 0.3s ease-out;
    }

    .text,
    .item-action-icon {
      color: #fff;
      transition: all 0.3s ease-out;
    }
  }
}

@mixin set-default(
  $bg: $cyan,
  $color: #fff,
  $p: 0.4rem 0,
  $radius: true,
  $fs: 0.73rem,
  $w: 4.6rem,
  $static: true
) {
  padding: $p;
  font-size: $fs;
  font-weight: 500;
  text-align: center;
  background-color: $bg;
  color: $color;
  pointer-events: none;

  @if $static {
    min-width: $w;
  }

  @if $radius {
    border-radius: 50vw;
  }
}
