@use "../../helpers/mixins" as m;
@use "../../helpers/variables" as v;

@mixin logo(
  $position: absolute,
  $left: v.$px-main,
  $width: null,
  $p-start: null
) {
  .ai-builder-logo {
    @include m.flex($direction: row-reverse, $justify: flex-end);
    text-decoration: none;
    color: #000;
    gap: 0.4rem;
    position: $position;
    z-index: 2;
    height: 5rem;
    left: $left;
    width: $width;
    padding-left: $p-start;

    .text {
      font-size: 1.45rem;
      font-family: v.$comfortaa;
      font-weight: 900;

      &:hover ~ img {
        transform: rotate(180deg);
        transition: transform 0.6s ease-in-out;
      }
    }

    img {
      width: 1.7rem;
      height: auto;
      object-fit: cover;
      transition: transform 0.6s ease-in-out;

      &:hover {
        transform: rotate(180deg);
        transition: transform 0.6s ease-in-out;
      }
    }
  }
}

@mixin quit() {
  .ai-builder-quit {
    position: fixed;
    right: calc(v.$px-main + 8px);
    z-index: 2;
    height: 5rem;
    cursor: pointer;
    @include m.flex();
    text-decoration: none;
    
    .material-symbols-outlined {
      padding: 0.3rem;
      font-size: 1.7rem;
      font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
      color: #000;
      border-radius: 50%;
      transition: transform 0.4s ease-out, background-color 0.4s ease-out;
      background-color: transparent;
    }

    &:hover {
      .material-symbols-outlined {
        transform: rotate(90deg);
        transition: transform 0.4s ease-out, background-color 0.4s ease-out;
        background-color: adjust-color($color: #fff, $blackness: 5%, $alpha: 0.1);
      }
    }
  }
}

@mixin buttonOverview($transform-origin, $rotate: 0) {
  padding: 0.6rem;
  cursor: pointer;
  border: 1.5px solid adjust-color($color: #fff, $blackness: 10%);
  @include m.flex();
  position: relative;
  transition: transform 0.4s ease-out;
  overflow: hidden;
  z-index: 2;
  visibility: visible;
  opacity: 1;

  .material-symbols-outlined {
    transform: $rotate;
    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: adjust-color($color: #fff, $blackness: 10%);
    bottom: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom $transform-origin;
    transition: transform 0.4s ease-out, border 0.4s ease-out;
  }

  &:hover {
    &::after {
      transform: scale(1);
    }
  }

  &.none {
    visibility: hidden;
    opacity: 0;
  }
}

@mixin change-layout(
  $bg-color,
  $color,
  $border-color,
  $bg-color-default: transparent
) {
  &:hover,
  &:focus,
  &:active {
    border-color: #0d6efd;
    transition: border-color 0.2s ease-out;

    .change-layout {
      position: absolute;
      right: 0.6rem;
      bottom: 0.6rem;
      cursor: pointer;
      @include m.flex();
      gap: 0.25rem;
      padding: 0.3rem 0.5rem 0.3rem 0.4rem;
      border: $border-color solid 1px;
      z-index: 2;
      border-radius: 0.2rem;
      overflow: hidden;
      background-color: $bg-color-default;
      color: $color;

      // border-color: adjust-color($color: #fff, $blackness: 90%);
      // adjust-color($color: #fff, $blackness: 10%)

      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
        font-size: v.$navter-icon;
      }

      .text {
        font-size: v.$navter-text;
        text-transform: uppercase;
        line-height: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
        transform: scale(0);
        transform-origin: top left;
        transition: transform 0.4s ease-out;
        z-index: -1;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
          transition: transform 0.4s ease-out;
        }
      }

      &.expand {
        display: none;
      }
    }
  }
}

@mixin title-expalot() {
  font-family: v.$raleway;
  @include m.flex();
  height: fit-content;
}

@mixin expalot-elements($isbottom: true, $vertical: 0, $right: v.$p-navter) {
  position: fixed;
  width: 36vw;
  height: fit-content;
  background-color: #f7f7f7;
  border-radius: 0.8rem;
  padding: v.$p-navter;
  z-index: 19;
  top: 10.4rem;
  left: 10.31rem;
  // right: $right;

  @if $isbottom {
    bottom: $vertical + v.$p-navter;
  } @else {
    top: $vertical;
  }
}

@mixin layout-styles($section: true, $p: 0.6rem 0.55rem) {
  width: 100%;
  border: v.$border-hover;
  height: fit-content;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  padding: $p;

  @if $section {
    min-height: 6.5rem;
  }

  &:hover {
    border-color: adjust-color($color: #fff, $blackness: 10%);
  }

  &.active {
    border-color: adjust-color($color: #fff, $blackness: 60%);
  }
}

@mixin default-footer() {
  &-footer {
    @include m.flex($direction: row-reverse, $justify: space-between);
    padding: v.$p-navter;
    width: 100%;
    grid-area: footer;

    .template {
      @include m.flex($direction: row-reverse);
      gap: 0.35rem;

      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
        font-size: v.$navter-icon - 5px;
        margin-top: 0.12rem;
      }

      .text {
        font-size: v.$navter-title;
        line-height: 120%;
        font-weight: 400;
      }
    }

    .social {
      @include m.flex();
      gap: 0.2rem;
    }
  }
}
