@use "../../../../helpers/mixins" as m;
@use "../../../../helpers/variables" as v;
@use "../../../../components/AiBuilderSupport/ai-builder-support" as support;

$fs-title: 7.5px;
$fs-desc: 3px;
$fs-text: 4px;
$py-layout: 0.45rem;
$px-layout: 0.5rem;

@mixin title($fs: $fs-title, $fw: 600, $w: 100%, $t-align: left, $ln-h: 100%) {
  width: $w;
  font-size: $fs;
  font-weight: $fw;
  line-height: $ln-h;
  pointer-events: none;
  text-align: $t-align;
}

@mixin desc(
  $fs: $fs-desc,
  $m: 0.18rem 0 0,
  $w: 100%,
  $ln-h: 130%,
  $t-align: left
) {
  font-size: $fs;
  margin: $m;
  line-height: $ln-h;
  pointer-events: none;
  width: $w;
  text-align: $t-align;
}

@mixin form(
  $fs: $fs-text,
  $fs-input: $fs-desc,
  $radius-input-textarea: true,
  $size-radius: 0.4rem,
  $border-color: #000,
  $border-input: 0 0 0 0.3px $border-color,
  $p-input-textarea: 0.21rem 0.28rem,
  $h-textarea: 1.7rem,
  $w-group: 100%,
  $gap-group: 0.2rem,
  $w-parent: 100%,
  $gap-parent: 0.38rem,
  $align-form: flex-start,
  $form-parent: true,
  $m-parent: 0,
  $overview: false
) {
  @if $form-parent {
    @include m.flex($direction: column, $align: $align-form);
    gap: $gap-parent;
    width: $w-parent;
    margin: $m-parent;
  }

  @if $overview {
    pointer-events: auto;
  } @else {
    pointer-events: none;
  }

  .template-form-group {
    width: $w-group;
    color: #000;
    @include m.flex($direction: column, $align: flex-start);
    gap: $gap-group;

    label {
      font-size: $fs;
      position: relative;
      line-height: 100%;

      span {
        font-size: $fs * 0.85;
        color: adjust-color($color: #000, $whiteness: 90%);
      }
    }

    input {
      font-size: $fs-input;
      width: 100%;
      border: none;
      outline: none;
      padding: $p-input-textarea;
      @include m.flex();
      font-family: v.$raleway;
      box-shadow: $border-input;
      background-color: transparent;

      @if $radius-input-textarea {
        border-radius: 50rem;
      }
    }

    textarea {
      font-family: v.$raleway;
      box-shadow: 0 0 0 0.3px #000;
      padding: $p-input-textarea;
      width: 100%;
      height: $h-textarea;
      border: none;
      outline: none;
      font-size: $fs;
      resize: none;
      background-color: transparent;
      overflow-y: auto;

      @if $radius-input-textarea {
        border-radius: $size-radius;
      }
    }
  }
}

@mixin button(
  $fs: $fs-text,
  $m: 0,
  $p: 0.22rem 0.51rem,
  $bg: transparent,
  $color: #000,
  $t-decor: none
) {
  font-size: $fs;
  border-radius: 50vw;
  @include m.flex();
  width: fit-content;
  line-height: 100%;
  cursor: pointer;
  padding: $p;
  margin: $m;
  background-color: $bg;
  color: $color;
  text-decoration: $t-decor;
  border: none;
  outline: none;
}

@mixin image($mb: 0.4rem, $h: 4rem, $w: 100%, $obj-pos: center) {
  width: $w;
  height: $h;
  object-fit: cover;
  object-position: $obj-pos;
  margin-bottom: $mb;
  pointer-events: none;
}

@mixin style-1($gap: 2.2rem) {
  display: grid;
  grid-template-columns: 0.85fr 1fr;
  gap: $gap;
  align-items: flex-start;
}

@mixin style-2($gap: 0.6rem) {
  @include m.flex($direction: column);
  gap: $gap;
}

@mixin style-3($gap: 1.3rem) {
  display: grid;
  grid-template-columns: 0.85fr 1fr;
  gap: $gap;
}

@mixin style-4($p: 0 2.9rem) {
  @include m.flex();
  padding: $p;
}

.expalot-form-el {
  @include support.expalot-elements($vertical: -76.4rem);

  &-styles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title"
      "wrapper wrapper";
    gap: 0.8rem 0.7rem;

    .title {
      grid-area: title;
      @include support.title-expalot();
    }

    .wrapper-left {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      overflow: hidden;
      height: 100%;
      gap: 0.7rem;

      .style-1 {
        @include support.layout-styles();
        @include style-1();

        .template-wrapper {
          .template-title {
            @include title();
          }

          .template-desc {
            @include desc();
          }
        }

        .template-form {
          @include form();

          .template-button {
            @include button($bg: #000, $color: #fff);
          }
        }
      }

      .style-3 {
        @include support.layout-styles();
        @include style-3();

        .template-wrapper {
          @include m.flex($direction: column);
          height: 100%;

          .template-title {
            @include title($fs: $fs-title * 2.5, $ln-h: 85%);
          }

          .template-desc {
            @include desc();
          }

          .template-form {
            @include form(
              $radius-input-textarea: false,
              $m-parent: auto 0 0,
              $border-color: #ccc,
              $gap-parent: 0.15rem
            );

            .template-button {
              @include button($bg: #000, $color: #fff, $m: 0.25rem 0 0);
            }
          }
        }

        .template-image {
          @include image($h: 6.2rem, $mb: 0);
        }
      }
    }

    .wrapper-right {
      @include m.flex(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      height: 100%;
      gap: 0.7rem;
      overflow: hidden;

      .style-2 {
        @include support.layout-styles();
        @include style-2();
        background-color: #dbdbdb;

        .template-wrapper {
          @include m.flex($direction: column);

          .template-title {
            @include title($t-align: center);
          }

          .template-desc {
            @include desc($t-align: center, $w: 85%);
          }
        }

        .template-form {
          @include form(
            $w-parent: 50%,
            $align-form: center,
            $border-input: 0 0 0 0.2px #000
          );

          .template-button {
            @include button($bg: #000, $color: #fff);
          }
        }
      }

      .style-4 {
        @include support.layout-styles();
        @include style-4();

        .template-wrapper {
          background-color: #fff;
          padding: 0.6rem 0.8rem;
          @include m.flex($direction: column);
          gap: 0.3rem;

          .template-title {
            @include title($t-align: center);
          }

          .template-desc {
            @include desc($t-align: center, $m: -0.15rem 0 0.2rem);
          }

          @include form(
            $form-parent: false,
            $radius-input-textarea: false,
            $w-group: 60%,
            $border-input: 0 0 0 0.1px adjust-color(#000, $whiteness: 100%)
          );

          .template-button {
            @include button($bg: #000, $color: #fff);
          }
        }
      }
    }
  }
}
