@use "./helpers/variables" as v;
@use "./helpers/mixins" as m;

@use "./pages/Error/error";
@use "./pages/AiBuilder/ai-builder";
@use "./pages/Auth/auth";
@use "./pages/Verify/verify";
@use "./components/LayoutDashboard/layout-dashboard";
@use "./components/LoaderProgress/loader-progress";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: v.$poppins;
  overflow: hidden auto;
  width: 100%;
  height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: none;
}

.Toastify__toast {
  z-index: 9999;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
  width: 30vw;
  // left: 50%;
  // transform: translateX(-50%);
}

.Toastify__toast-icon {
  margin-right: 1rem;
}

.Toastify__toast-body {
  line-height: 127.5%;
}
