@use "./helpers/variables" as v;
@use "./helpers/mixins" as m;

@use "./pages/Error/error";
@use "./pages/AiBuilder/ai-builder";
@use "./pages/Auth/auth";
@use "./pages/Verify/verify";
@use "./components/LayoutDashboard/layout-dashboard";
@use "./components/LoaderProgress/loader-progress";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: v.$poppins;
  overflow: hidden auto;
  width: 100%;
  height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: none;
}

.Toastify__toast {
  z-index: 9999;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
}

.Toastify__toast-container {
  width: 30vw;
}

.Toastify__toast-icon {
  margin-right: 1rem;
}

.Toastify__toast-body {
  line-height: 127.5%;
}

/* From Uiverse.io by Shoh2008 */
.loader-pages {
  width: 100vw;
  min-height: 100vh;
  @include m.flex();
  background-color: #000;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;

  &-item {
    width: 45px;
    height: 40px;
    background: linear-gradient(
        #0000 calc(1 * 100% / 6),
        #fff 0 calc(3 * 100% / 6),
        #0000 0
      ),
      linear-gradient(
        #0000 calc(2 * 100% / 6),
        #fff 0 calc(4 * 100% / 6),
        #0000 0
      ),
      linear-gradient(
        #0000 calc(3 * 100% / 6),
        #fff 0 calc(5 * 100% / 6),
        #0000 0
      );
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
  }
}
