@use "./helpers/variables" as v;
@use "./helpers/mixins" as m;

@use "./components/Layout/layout";
@use "./pages/Error404/error404";
@use "./pages/AiBuilder/ai-builder";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include m.withoutScrollBar();
}

body {
  font-family: v.$open-sans;
  overflow: hidden auto;
  width: 100%;
  height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: none;
}

.toast {
  z-index: 9999 !important;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2) !important;
}
