@use "../../../helpers/mixins" as m;
@use "../../../helpers/variables" as v;
@use "../../../components/LayoutDashboard/Support/support-dashboard" as support;

.accumulation-dashboard {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.5rem;
}

$colors: (
  support.$blue,
  support.$red,
  support.$green,
  support.$orange,
  support.$yellow,
  support.$cyan,
  support.$pink,
  support.$teal,
  support.$purple,
);

.accumulation {
  @for $i from 1 through 9 {
    &:nth-child(9n + #{$i}) {
      cursor: default;
      padding: 0.9rem 1.05rem 1.9rem;
      @include m.flex($direction: column, $start: true);
      gap: 0.4rem;

      .accumulation-header {
        @include m.flex($justify: flex-start);
        gap: 0.8rem;

        .material-symbols-rounded {
          font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
          @include m.circle(2.2rem);
          @include m.flex();
          font-size: 18px;
          transition: all 0.4s ease-in;
          $color: nth($colors, $i);
          border: 1.2px solid #{$color};
          color: #{$color};
        }

        .text {
          font-family: v.$raleway;
          font-weight: 600;
          font-size: 0.85rem;
          transition: color 0.4s ease-in;
          color: adjust-color($color: #fff, $blackness: 60%);
        }
      }

      .accumulation-total {
        // font-family: v.$raleway;
        letter-spacing: 1px;
        font-size: 1.9rem;
        transition: color 0.1s ease-in;
      }

      &:hover {
        background-color: #000;
        transition: background-color 0.4s ease-out;

        .accumulation-header {
          .material-symbols-rounded {
            font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 24;
            background-color: nth($list: $colors, $n: $i);
            color: #fff;
            transition: all 0.4s ease-out;
          }

          .text {
            color: #fff;
            transition: color 0.4s ease-out;
          }
        }

        .accumulation-total {
          color: #fff;
          transition: color 0.1s ease-out;
        }
      }
    }
  }
}
