@use "../../helpers/mixins" as m;
@use "../../helpers/variables" as v;

.loader-progress {
  @include m.flex($direction: column);
  height: 100vh;
  gap: 0.8rem;
  position: relative;
  z-index: 99;

  .loader {
    width: 26px;
    aspect-ratio: 1;
    animation: l3-1 1.5s infinite linear, l3-2 2s infinite steps(1) -0.5s;
  }

  span {
    font-weight: 500;
  }

  @keyframes l3-1 {
    0% {
      transform: perspective(150px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(150px) rotateX(180deg) rotateY(0deg);
    }
    100% {
      transform: perspective(150px) rotateX(180deg) rotateY(180deg);
    }
  }

  @keyframes l3-2 {
    0% {
      background: #000;
    }
    33% {
      background: #000;
    }
    66% {
      background: #000;
    }
  }
}

/* From Uiverse.io by Shoh2008 */
.loader-pages {
  width: 100vw;
  min-height: 100vh;
  @include m.flex();
  background-color: #000;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;

  &-item {
    width: 45px;
    height: 40px;
    background: linear-gradient(
        #0000 calc(1 * 100% / 6),
        #fff 0 calc(3 * 100% / 6),
        #0000 0
      ),
      linear-gradient(
        #0000 calc(2 * 100% / 6),
        #fff 0 calc(4 * 100% / 6),
        #0000 0
      ),
      linear-gradient(
        #0000 calc(3 * 100% / 6),
        #fff 0 calc(5 * 100% / 6),
        #0000 0
      );
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
  }
}
